<div class="overview">
    <div class="title">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="text">Api dash home</span>
    </div>
    <p>Aquí puedes renderizar más datos dinámicos según lo necesites.</p>
   
</div>

<script src="./js/dash-home.js"></script>