<nav class="navbar-nb">
  <div class="brand-container">
    <a href="/">
      <img src="/assets/img/ticket-logo.png" alt="ticket-logo" />
      <p>Ticket<span>Track</span></p>
    </a>
  </div>
  <button class="nav-toggle" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="nav-links-nb">
    <a href="/">Inicio</a>
    <a href="/about-us">Nosotros</a>
    <a href="/faqs">Faqs</a>

    |

    <% if ( !session.is_admin || session.is_admin === null) { %>
      <a href="/login"><i class="fa-solid fa-user"></i></a>
    <% } %>
    <% if (session.is_admin === "true") { %>
      <a href="/dashboard">Panel Admin</a>
      <a href="/api-users/logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    <% } %>
    
    <% if (session.is_admin === "false") { %>
      <a href="/user-dashboard">Mis Tickets</a>
      <a href="/api-users/logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    <% } %>

  </div>
</nav>