<nav class="navbar-nb">
    <div class="brand-container">
      <a href="/">
        <img src="/assets/img/ticket-logo.png" alt="ticket-logo" />
        <p>Ticket<span>Track</span></p>
      </a>
    </div>
    <button class="nav-toggle" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="nav-links-nb">
      <a href="/">Inicio</a>
      <a href="/dashboard">Sistema</a>
      <a href="/about-us">Nosotros</a>
      <a href="/faqs">Faqs</a>
    </div>
</nav>