<%- include ('components/header.ejs') %>

<body>
  <%- include ('components/navbar.ejs') %>
    <!--Ingrese comentario-->
    
      <header class="header">
        <h2><a href="#" class="titulo">COMENTARIO</a></h2>
      <section>
    
      </section>
    
      <%- include('./components/footer') %>
</body>
  