<%- include ('components/partials/header.ejs') %>
<div class="header">
    <p>Ticket<span>Track</span></p>
    <img src="/assets/img/404.gif" alt="">
    <h1 style="font-family: 'Righteous', sans-serif;">404</h1>
</div>