<!DOCTYPE html>

<html lang="es">

<head>
    <title>Admin Dashboard Panel</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/img/ticket-favicon.ico" type="image/x-icon" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/assets/css/dashboard/dashboard.css" />
    <!----===== Icons ===== -->
    <script src="https://kit.fontawesome.com/84f1588987.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('components/partials/dash-nav.ejs') %>
    <section class="dashboard">
        <div class="dash-content" id="dash-content">
            <%- include(content) %>
        </div>
    </section>

    <script src="/js/dashboard.js"></script>
</body>

</html>