<!DOCTYPE html>

<html lang="es">

<head>
    <title>Admin Dashboard Panel</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/img/ticket-favicon.ico" type="image/x-icon" />
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/assets/css/dashboard.css" />
    <!----===== Icons ===== -->
    <script src="https://kit.fontawesome.com/84f1588987.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- barra lateral -->
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/assets/img/ticket-logo.png" alt="ticket track logo">
            </div>
            <a style=" text-decoration: none;" href="/"><span class="logo_name">TicketTrack</span></a>
        </div>

        <div class="menu-items">
            <ul class="nav-links dash-links">

                <li>
                    <a href="#" class="top sidebar-toggle">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        <span class="link-name">cerrar</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-url="/api-users/dash-admin">
                        <i><img class="width:1rem" src="<%= user.url_img %>" alt="" /></i>
                        <span class="link-name badge text-bg-secondary" style="text-transform: capitalize;">
                            <%= user.username %>
                        </span>
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#" data-url="/api-tickets/dash-home">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-url="/api-tickets/dash-tickets">
                        <i class="fa-solid fa-receipt"></i>
                        <span class="link-name">Tickets</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-url="/api-users/dash-users">
                        <i class="fa-solid fa-users"></i>
                        <span class="link-name">Usuarios</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-url="/dash-comments">
                        <i class="fa-solid fa-comments"></i>
                        <span class="link-name">Comentarios</span>
                    </a>
                </li>
            </ul>

            <ul class="nav-links">
                <li class="mode">
                    <a href="#">
                        <div class="cambioModo"><i class="fa-regular fa-moon"></i></div>
                        <span class="link-name nombreModo">Modo oscuro</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>

                <li>
                    <a href="/api-users/logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="link-name">Salir</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="dash-content" id="dash-content">
        </div>
    </section>

    <script src="/js/dashboard.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.dash-links a').forEach(function (link) {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    let url = this.getAttribute('data-url');
                    if (url) {
                        fetch(url)
                            .then(response => {
                                if (!response.ok) {
                                    return response.text().then(text => {
                                        throw new Error(`Error ${response.status}: ${response.statusText}\n${text}`);
                                    });
                                }
                                return response.text();
                            })
                            .then(data => {
                                const dashContent = document.getElementById('dash-content');
                                dashContent.innerHTML = data;
                            })
                            .catch(error => {
                                alert('Error loading component: ' + error.message);
                            });
                    }
                });
            });
        });
    </script>
</body>

</html>