<%- include ('layout', { title: 'Soporte', stylesroute: '/assets/css/support.css', content: `

<section class="faq-section">
    <h2 class="faq-title">Preguntas Frecuentes</h2>
    <div class="faq-container">
      <details class="faq-item">
        <summary class="faq-question">
          ¿Cómo puedo crear un nuevo ticket?
          <i class="fas fa-chevron-down"></i>
        </summary>
        <div class="faq-answer">
          <p>
            Para crear un nuevo ticket, dirígete a la sección de 'Crear
            Ticket' y completa el formulario con los detalles necesarios.
            Luego, presiona 'Enviar'.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          ¿Cómo puedo ver el estado de mis tickets?
          <i class="fas fa-chevron-down"></i>
        </summary>
        <div class="faq-answer">
          <p>
            Puedes ver el estado de tus tickets en la sección 'Mis Tickets',
            donde encontrarás una lista de todos tus tickets junto con sus
            estados actuales.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          ¿Puedo editar un ticket después de enviarlo?
          <i class="fas fa-chevron-down"></i>
        </summary>
        <div class="faq-answer">
          <p>
            Sí, puedes editar un ticket siempre y cuando no haya sido cerrado.
            Dirígete a la sección 'Mis Tickets', selecciona el ticket que
            deseas editar y realiza los cambios necesarios.
          </p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          ¿Cómo contacto con soporte técnico?
          <i class="fas fa-chevron-down"></i>
        </summary>
        <div class="faq-answer">
          <p>
            Para contactar con soporte técnico puedes enviar un correo a
            ticket.track.servicios@gmail.com.
          </p>
        </div>
      </details>
    </div>
  </section>

`
}) %>