/* ES CSS ANIDADO, TENE CUIDADO CON LO QUE TOCAS DE ESTE ARCHIVO. */

.users {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    place-items: center;
}

.card-img-top {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-body{
    color: var(--text-color);
}

.card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px) saturate(180%)!important;
    position: relative;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
}

.cant-tickets {
    border-radius: 2em;
    padding: 0.5em 1.5em;
}

.card i{
    position: absolute;
    top: 7%;
    position: absolute;
    right: 6%;
}

.fa-crown {
    color: #efb810
}

.fa-user {
    color: #70C9C2
}


.total {
    span{font-size: 1.3rem!important;}
}

;


